$colors: (
        selected: #02885C
);

:root {
    @each $name, $value in $colors {
        --#{'' + $name}: #{$value};
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin: 0;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 0 !important
    }
}

.commands {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 5px 3px;

    div {
        display: flex;
        justify-content: start;
        align-items: stretch;
        gap: 2px;

        button {
            padding: 8px 12px;
        }
    }
}
